:root {
	--bg-darker: rgb(241, 239, 232);
	--bg: rgb(234, 232, 228);
	--ink: #1b1c20;
	--muted: #7b7f88;
	--accent: #a8842f;
	--text-colour: var(--bg);
	--text-dark: var(--ink);
	--text-light: var(--bg);
	--grey-dark: rgba(25, 26, 29, 1);
	--grey-med: rgba(25, 26, 29, 0.8);
	--grey-light: rgba(25, 26, 29, 0.6);
	--grey-lighter: rgba(25, 26, 29, 0.2);

	//--serif-font: 'Instrument Serif' serif;
	--serif-font: 'Instrument Serif', serif;
}
